/** GENERAL STYLES */

body.home .title {
  font-size:55px;
  height:200px;
  text-align:center;
}

body.home .subtitle {
  font-size:20px;
  height:200px;
  text-align:center;
}

body {
  font-family:arial;
  margin:50px 0px; padding:0px;
  text-align:center;
}

div.content {
  margin:0px auto;
  text-align:left;
  border:1px dashed #333;
  background-color:#eee;
  padding:10px;
  width:880px;
};

a {
  text-decoration:none;
  color:black;
}

/** HEADER */

.header {
  border-bottom:solid 1px silver;
  padding:5px;
  text-align:center;
}

/** FOOTER */
.fineprint {
  clear:both;
  border-top:dashed 1px silver;
  padding:5px;
  font-size:small;
  text-align:center;
}

/** NAVIGATION */

div.navigation {
  margin-left:75px;
}

.navigation div {
  cursor:pointer;
  float:left;
  padding:5px;
  width:70px;
  border:solid 2px gray;
  background-color:#666;
  margin:10px;
  border-radius:10px;
  text-align:center;
}



/** CODE BLOCKS */

pre {
  background-color:#111;
}